{% extends 'master.html' %}
{% load cart_tag %}
{% block body %}

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="{% url 'index' %}">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description">Name</td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>

                    {% for item in cartitem %}
						<tr>
							<td class="cart_product">
								<a href="{{item.product.image.url}}"><img src="{{item.product.image.url}}" alt="" height="100px"></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{item.product.name}}</a></h4>
							</td>
							<td class="cart_price">
								<p>₹ {{item.product.price}}</p>
							</td>
							<td class="cart_quantity">
								<p>{{item.quantity}}</p>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">₹ {{ item.product.price|multiply:item.quantity }}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete cenyre" href="{% url 'item_clear' item.id %}"><i class="fa fa-times"></i></a>
							</td>
						</tr>
                    {% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td></td>

							<td></td>
							<td>
								<hr>
								<h2>Total :</h2>
							</td>
							<td>
								<hr>
								<h2>{{ sub_total }}</h2>
							</td>
							<td>
								<hr>
								<h2>₹{{ total }}</h2>
							</td>
							<td>

								<hr>
								<a href="{% url 'cart_clear' %}" class="btn btn-primary"><span>Clear All</span></a>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<a href="{% url 'checkout' %}"><button type="button" class="btn btn-primary" style="float:right;">Order All</button></a>
		</div>
	</section> <!--/#cart_items-->





{% endblock %}