{% extends 'master.html' %}
{% block body %}
<section id="form" style="margin-left:30%;margin-top:30px"><!--form-->
		<div class="container">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="signup-form"><!--signup form-->
					<h2>New User Sign_Up</h2>
					<form method="post">
						{% csrf_token %}
						{% for field in form %}
							{{ field.errors }}
							<p>{{ field }}</p>
						{% endfor %}
						<button class="btn btn-default" type="submit">SignUp</button><br>
						<span style="margin-left:80px;">Already have an Account&nbsp;&rarr;&nbsp;</span><a href="{% url 'login' %}">login</a>
					</form>
				</div><!--signup form-->
			</div>
		</div>
</section>
{% endblock %}
