{% extends 'master.html' %}
{% load cart_tag %}
{% block body %}

<div class="container">
    <div class="row">
        <form method="post" action="?action=create_payment">
            {% csrf_token %}
            <div class="col-sm-12">
                <div class="order-info">
                    <h2 class="title text-center">Your Order</h2>
                    <div class="status alert alert-success" style="display: none"></div>

                    {% if product %}
                    <table class="table">
                        <thead style="font-size:20px">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td><h4><input type="text" name="b_product" value="{{ product }}"  style="border:none;outline:None" readonly></h4></td>
                                <td><h4><input type="text" name="b_quantity" value="1"  style="border:none;outline:None" readonly></h4></td>
                                <td><h4>₹<input type="text" name="b_price" value="{{product.price }}"  style="border:none;outline:None" readonly></h4></td>
                                <td><h4>₹<input type="text" name="b_total" value="{{ product.price}}"  style="border:none;outline:None" readonly></h4></td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><h4>Total Quantity</h4></td>
                                <td><h4>1</h4></td>
                                <td><h4>Total Price</h4></td>
                                <td><h4>₹{{product.price }}</h4></td>
                            </tr>
                        <tfoot>
                    </table>
                    {% else %}
                    <table class="table">
                        <thead style="font-size:20px">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        {% for cart in cartitem %}
                        <tbody>
                            <tr>
                                <td><strong>{{ cart.product }}</strong></td>
                                <td>{{ cart.quantity }}</td>
                                <td>₹{{ cart.product.price }}</td>
                                <td><strong>₹{{ cart.product.price|multiply:cart.quantity }}</strong></td>
                            </tr>
                        </tbody>
                        {% endfor %}
                        <tfoot>
                            <tr>
                                <td><h4>Total Quantity</h4></td>
                                <td><h4>{{ sub_total }}</h4></td>
                                <td><h4>Total Price</h4></td>
                                <td><h4>₹{{ total }}</h4></td>
                            </tr>
                        </tfoot>
                    </table>
                    {% endif %}
                </div>
            </div>

            <a href="{% url 'user_detail' %}"><button type="button" class="btn btn-primary">Change Address</button></a>
            <div class="form-group col-md-12">
               <button type="submit" name="action" value="create_payment" id="rzp-button1" class="btn btn-primary pull-right">Payment</button>
            </div>
        </form>
    </div>
</div>


{% if payment is not None %}

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_7TZsLil3ml0Yy7", // Enter the Key ID generated from the Dashboard
    "amount": "{{payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "{{payment.currency}}",
    "name": "E_shopper", //your business name
    "description": "{{payment.receipt}}",
    "image": "https://example.com/your_logo",
    "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url":"http://127.0.0.1:8000/verify_payment/",
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000" //Provide the customer's phone number for better conversion rates
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
{% endif %}

{% endblock %}
